*
{
    margin:0px;
    padding:0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 1px;
}
body 
{
    background-color: aliceblue;

    background-image: url('images/flag.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
div 
{
    border: 2px solid black;
    margin-bottom:10px;
    padding:10px;
    width:50%;
    height:300px;
    overflow:scroll;
    box-sizing: border-box;
    float:left;
}
h1 
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}