body 
{
    background-color: aliceblue;
}
* 
{
    margin: 0px;
    padding: 0px;
}
section 
{
    display: flex;
    background-color: lavender;
    padding: 10px;
}
article
{
    width:33%;
    border:1px solid black;
}
article>header 
{
    background-color: blueviolet;
    padding:10px;
    color:white;
    text-align: center;
    text-transform: uppercase;
}
article>footer 
{
    background-color: gray;
    color:white;
    padding:10px;
}